.mx-6 {
  margin-left: 35rem !important;
}

.mx-7 {
  margin: auto auto auto 30rem !important;
  text-align: center;
}

.border-gray {
  border-bottom: 1px solid #eee;
}

.ms-6 {
  margin-left: 9rem !important;
}

.display-7 {
  font-size: 1.2em !important;
}

.h-1 {
  height: 3rem !important;
}

.btn-darkish {
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 90%;
  margin-left: 1.3rem;
  height: 3.3rem;
}

.btn-darkish:hover {
  border: 1px solid white;
  background-color: rgb(57, 56, 56);
}

.cursive {
  font-family: "Playwrite GB S", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.avatar {
  padding: 0.9rem;
  padding-top: 2rem;
  text-align: center;
}

.avatar-con {
  border: 1px solid #c1bdbd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 1rem;
  border-radius: 50%;
  cursor: pointer;
}
.profile-con {
  border: 1px solid #c1bdbd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.bubble {
  border: 1px solid #c1bdbd;
  border-radius: 1.5rem;
  margin-left: 0.3rem;
  height: auto;
  padding: 0.6rem;
  background-color: #f3f2f0;
}

.comment-utility {
  margin-left: 0.6rem;
}

.comment-utilities-single:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.comment-utilities {
  font-size: 0.7em;
  font-style: bold;
}

.bubble:hover {
  cursor: pointer;
}

.bubble:hover .comment-utility {
  display: block;
}

.avatar-con:hover {
  border: 1px solid black;
}

.mx-8 {
  margin-left: 18rem !important;
  margin-top: 0rem;
}

.table-responsive {
  overflow-x: auto !important;
  width: 97% !important;
}

/* Other styles remain unchanged */

.w-5 {
  width: 10%;
  height: 5rem;
}

.p-panel-header {
  display: none !important;
}


.blog-panel {
  width: 100%;
  border: 2px solid rgb(235, 232, 232);
  margin: 1rem 0 0 0;
  height: 8rem;
  border-radius: 5px;
}

.blog-panel:hover {
  box-shadow: 3px 4px 2px #cac9c9, 0px 0px 0px #ccc;
  cursor: pointer;
}

.image-section {
  width: 6rem;
  height: 4.8rem;
  border-radius: 5px;
  border: 2px solid rgb(235, 232, 232);
  margin: 0 0 0 1rem;
  overflow: hidden;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-utilities {
  width: 1rem;
  padding-right: 1rem;
  font-size: 1.5em;
}

.blog-utilities:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.utilities-section {
  width: 9rem !important;
}

.admins_name {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 2em;
}

.logout-link {
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
}

.logout-item {
  margin-top: 1rem;
}

.imagesection {
  height: 15rem;
  width: 50rem;

  margin: auto;
}

.imagesection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blogcontainer {
  height: 19rem;
}

.blogcontainer:hover {
  cursor: pointer;
}

.blogsection {
  width: 190rem;
  padding: 1rem;
}
.author-date {
  font-size: 0.9em;
  color: gray;
  font-style: italic;
  padding: 0 5rem 0 1rem;
}

.blogdetail-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.blogdetail-image img {
  max-width: 100%; /* Ensure the image is responsive */
  height: 28rem; /* Maintain aspect ratio */
}

.likes {
  font-size: 1.5em;

  width: 25rem;
  margin-left: 5rem;
  margin-top: 1rem;
}

.likes:hover {
  cursor: pointer;
}

.username-comment {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: italic;
  font-size: 0.9em;
  font-weight: 600;
}

.comment-content {
  margin: 0;
  padding: 0;
}

.performance-block {
  margin: 1rem;
  height: 4rem;
  width: 8rem;
  font-size: 1.4em;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  background-color: black;
  font-style: bold;
}

.userside-links {
  width: 11rem;
}
