* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: black;
}
/* new man  */
header {
  height: 7.6rem;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search {
  margin: auto;
}


.title {
  padding: 3rem 3rem 3rem 10rem;
  margin: auto;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem 0 0;
}
.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.social_links {
  background-color: black;
  color: white;
  list-style: none;
  margin: 0.2rem;
  padding: 0.4rem;
  border-radius: 60%;
  height: 29px;
  text-align: center;
  width: 29px;
}

nav {
  height: 4rem;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  padding: 1.4rem 1rem 1rem 1rem;
  margin: 0.5;
  list-style: none;
}

.routes {
  text-decoration: none;
  color: black;
}
